body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* ここを書き換える! */
    background: linear-gradient(to botton, rgba(0,104,183,0.3),rgba(0,153,119,0.3));
}
 app-icons{
    position: absolute;
     top: 100px;
     left: 100px;
 }
p {
    text-align: left;
}
hi{
    text-align: left;
}
　game-description{
     position: absolute;
     top: 200px;
     left: 100px;
 }
