body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  margin: 0;
  background-color: #f7fcff;
}

.game-description {
  font-size: 20px;
  position: relative;
  top: -170px;
  left: 100px;
  text-align: left;
}

.app-icon {
  width: 150px;
  height: 150px;
  position: relative;
  top: 50px;
  left: -400px;
}
