body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* ここを書き換える! */
    background: linear-gradient(135deg, #80caff 0%, #be9cff 100%);
}
 .app-icons{
    position: absolute;
     top: 100px;
     left: 100px;
 }
p {
    text-align: left;
}
hi{
    text-align: left;
}
　.game-description{
     position: absolute;
     top: 150px;
     left: 100px;
 }
