.hero h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0.5em;
  padding: 50px;
}

.content h1 {
  margin: auto;
  text-align: center;
  font-size: 2em;
  padding: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.works h1 {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.works li {
  margin: 20px 0;
  font-size: 1.2em;
  text-align: center;
}

.works-1 {
  display: flex;
}

body {
  background-color: white;
  text-align: center;
  font-size: clamp(0.5vw, 1.4vw, 1.9vw);
}