.hero h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0.5em;
  padding: 50px;
}

.content h1 {
  margin: auto;
  text-align: center;
  font-size: 2em;
  padding: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.works h2 {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  padding: 30px;
  flex-basis: 100%;
}

.works {
  padding: 30px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.works-1 {
  display: flex;
  justify-content: center;
}

.works a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
